@media screen and (max-width: 360px){
    .menuBurgerOptions{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100vh;
        background-color: #113;
        position: absolute;
        top: 0;
        z-index: 2;
    }
    
    .optionsBurger{
        margin-top: 72px;
    }
    
    .optBurger{
        margin-bottom: 16px;
        margin-left: 16px;
    }
    
    .optBurger > a{
        text-decoration: none;
        font-size: 24px;
        color: white;
    }
}