.userDataProject{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 8px 24px 0px 24px;
    background-color: blue;
    justify-content: space-between;
    /* align-self: flex-start; */
}

.userDataAvatarNameDate{
    display: flex;
    flex-direction: row;
}

/* .userNameProject,
.dataDayUser {
    margin-left: auto;  
} */

.userDetailsProject{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.descripitionUserProject{
    margin: 16px 24px 16px 24px;
    text-align: start;
}

.userDownloadProject {
    margin: 0px 24px 0px 24px;
    text-align: start;
    overflow: hidden;
    width: 388px;
}

.userLinkProject{
    color: red;
    display: flex;
    width: 75%;
    justify-content: flex-start;
}
.linkProjectTag{
    word-wrap: break-word;
    width: 100%;
}
.userTagsProject{
    display: flex;
    background-color: red;
}