@import "../../GeneralStyle/GeneralStyle.css";

.inputText{
    background-color: var(--cor-teste);
    width: 100%;
    color: var(--Neutral-Colors-Neutral-120, #303133);
    font-feature-settings: 'clig' off, 'liga' off;

    /* [Orange P] Style Guide/Label */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.15px;
}

.boxInput{
    background-color: blue;

    width: 100%;
}